:root {
  --rokkit: 'Rokkitt', serif;
  --sacramento: 'Sacramento', cursive;
  --work: 'Work Sans', sans-serif;
  --main-color: rgb(255, 208, 0);
  /* --main-color: rgb(255, 193, 77); */
}


.text-main {
  font-family: var(--rokkit);
}

.color-main {
  color: var(--main-color);
  text-shadow: 2px 2px 3px rgba(250, 248, 245, 0.747);
}

.bg-main {
  background-color: var(--main-color);
}

nav {
  background-color: var(--main-color);
  font-family: var(--work);
}

nav h3 {
  color: black;
  font-weight: 700;
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.856);
}

#Menu ul li {
  position: relative;
}

#Menu ul li a {
  color: black;
  padding-bottom: 5px;
  transition: all 0.3s;
}

#Menu ul li a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  transition: width 0.3s ease;
}

#Menu ul li a:hover::before {
  width: 100%;
}

#main {
  z-index: -1;
  margin-bottom: 0;
}


.main-image {
  position: fixed;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.274);
  /* Warna lapisan transparan */
  z-index: 1;
}


.main-tagline {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  position: absolute;
  font-family: var(--rokkit);
  top: 30%;
  left: 50%;
  /* transform: translateY(-100%); */
  max-width: 600px;
  /* background-color: burlywood; */
  z-index: 2;
}

.main-tagline h2 {
  color: rgba(255, 255, 255, 0);
  text-shadow: none;
  animation: fadeInH2 3s ease forwards;
}

/* #login-btn {
  z-index: 999;
  background-color: aqua;
} */

#main::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10%;
  /* Sesuaikan dengan tinggi yang diinginkan */
  background-color: rgba(255, 255, 0, 0.5);
  /* Warna kuning yang sesuai dengan latar belakang #tentang */
  z-index: 1;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(245, 245, 245));
  /* Menyisipkan di depan elemen #main */
  /* filter: blur(5px); */
  /* Atur efek blur sesuai kebutuhan Anda */
}


@keyframes fadeInH2 {
  to {
    color: var(--main-color);
    text-shadow: 2px 2px 3px rgba(245, 168, 26, 0.747);
    /* Warna teks akhir (terang) */
  }
}

.main-tagline p {
  font-size: 20px;
  /* text-shadow: 2px 2px 3px gray; */
  color: rgba(255, 255, 255, 0);
  text-shadow: none;
  animation: typeWriterP 6s steps(50) forwards;
}

@keyframes typeWriterP {
  0% {
    color: transparent;
    /* Warna teks awal (buram) */
  }

  100% {
    color: aliceblue;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.699);
    /* Warna teks akhir (terang) */
  }
}


/* TENTANG */

#tentang {
  background-color: whitesmoke;
}

#card-tentang .card {
  opacity: 0;
  transform: translateY(-40px);
  transition: opacity 1s ease, transform 0.5s ease;
}

#kontak {
  padding: 10px 20px 3px 20px;
  text-shadow: 3px 4px 3px rgb(255, 255, 255);
}

#kontak ul {
  margin: 0;
}

#kontak ul li {
  text-decoration: none;
  font-family: var(--rokkit);
}





/* Pengaturan elemen di layar mobile */
@media (max-width: 767px) {
  .main-tagline {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    position: absolute;
    font-family: var(--rokkit);
    top: 30%;
    left: 15%;
    /* transform: translateY(-100%); */
    max-width: 300px;
    /* background-color: burlywood; */
    /* mix-blend-mode: multiply; */
    z-index: 2;
  }

  #Menu ul li a:hover::before {
    width: 30%;
  }

  .main-tagline h2 {
    font-size: 25px;
    /* text-shadow: 2px 2px 3px gray; */
  }

  .main-tagline p {
    font-size: 15px;
    /* text-shadow: 2px 2px 3px gray; */
  }
}