
    *{
        padding : 0;
        margin : 0;
    }
.nav{

    display : flex; 
    padding: 10px;
    padding-left : 50px;
    padding-right : 50px;
    justify-content:  space-between;
    align-items: center;
    height: 50px;
   
}
.logo{
        color : rgb(107, 107, 107);
        font-weight: bold;
        font-size : 24px;
        font-family: Arial, Helvetica, sans-serif;
}
  
.font {
        color : rgb(211, 211, 211); 
        padding : 0; 
        margin : 0; 
        font-family: Arial, Helvetica, sans-serif;
        font-size: 49px;
        position: absolute;
    }
.button_login {
    width: 100px;
    border : none;
    background-color: rgb(255, 196, 0);
    height: 32px;
    color : rgb(107, 107, 107);
    border-radius : 30px;
    font-weight: bold;
}

.banner {

    height : 55vh;
    display: flex;
    padding: 60px;
    align-items: center;
  
   
}

